body {
    background-color: #ececec;
    font-family: sans-serif;
    transition: color 0.8s linear, background-color 0.5s ease;
}

.dark-mode {
    background-color: #31313f;
    color: white;
}

h1 {
    text-align: center;
}

.mainCard .profile {
    width: 80px;
    height: 80px;
    border: #23232e;
    border-style: solid;
    border-radius: 80px;
    border-width: 2px;
    margin-left: auto;
    margin-right: auto;
    margin-top: -50px;
    display: block;
    background-color: white;
    padding: 3px;
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
}

button {
    background-color: none;
    border-radius: 16px;
    border: none;
    padding: 8px;
    cursor: pointer;
    transition-duration: 0.5s;
}

.dark-mode button {
    background-color: #31313f;
    color: white;
}

button:hover {
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
}

.dark-mode button:hover {
    background-color: #404052;
}

header {
    display: flex;
    align-items: center;
    flex-direction: row;
    justify-content: space-between;
}

.card {
    border-radius: 10px;
    padding: 20px;
    padding-top: 1px;
    margin: 20px;
    width: fit-content;
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
    background-color: rgb(255, 255, 255);
}

.dark-mode .card {
    background-color: #404052;
}

.card h1 {
    text-align: start;
}

.card img {
    border-style: none;
    width: auto;
    border-radius: 4px;
}

.mainCard img {
    border-radius: 4px;
}

.mainCard {
    border-radius: 10px;
    padding: 20px;
    padding-top: 1px;
    margin-top: 80px;
    margin-left: auto;
    margin-right: auto;
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
    background-color: white;
    max-width: max-content;
    text-align: center;
}

.socials {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    width: auto;
    justify-content: center;
    gap: 10px;
}

.dark-mode .mainCard {
    background-color: #404052;
}

.projects {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    row-gap: 100px;
    padding-top: 50px;
}

.project {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
}

.project > .card {
    flex-basis: 30%;
    flex-grow: 1;
}

.project > img {
    max-width: 80%;
    flex: 40%;
    border-radius: 12px;
}

.reverse {
    flex-wrap: wrap-reverse;
}

a img {
    transition-duration: 0.2s;
}

a img:hover {
    box-shadow: rgba(0, 0, 0, 0.24) 0px 4px 10px;
    opacity: 85%;
}

.expanding {
    display: inline-block;
    width: 3ch;
    animation: expanding 2s;
    animation-delay: 1s;
    animation-fill-mode: forwards;
    white-space: nowrap;
    overflow: hidden;
    font-family: monospace;
    font-size: 2.5em;
  }

@keyframes expanding {
    from {
        width: 3ch
    }
    to {
        width: 9ch;
    }
}
    
  
  